{% extends "base.html" %}
{% block content %}
<h2>О проекте</h2>
<p>Добро пожаловать в "Систему обучения на основе игр"!</p>
<h3>Особенности:</h3>
<ul>
    <li>Учебные модули с теорией и тестами.</li>
    <li>Персонализированные персонажи для мотивации.</li>
    <li>Личный кабинет для отслеживания прогресса.</li>
</ul>
<h3>Как использовать:</h3>
<ol>
    <li>Зарегистрируйтесь или войдите в систему.</li>
    <li>Выберите модуль для обучения.</li>
    <li>Создайте или настройте своего персонажа.</li>
    <li>Следите за прогрессом в личном кабинете.</li>
</ol>
<p>Разработчик: Уткина Екатерина.</p>
{% endblock %}